:root {
    /* Sprite border constants */
    --border-width: 240;
    --border-height: 135;
    --padding-top: 9;
    --padding-left: 9;
    --padding-right: 9;
    --padding-bottom: 23;
}


body {
    margin: 0;
    display: flex;              /* Center content vertically and horizontally */
    justify-content: center;
    align-items: center;
    background: #c7b08b;      /* Fallback background color */
    height: 100vh;              /* Ensure the body takes full viewport height */
}

div.border-wrapper {
    position: relative;
    width: 100vw;                                                           /* Set width to viewport width */
    height: calc(100vw * (var(--border-height) / var(--border-width)));     /* Constrain height to aspect ratio */
    max-height: 100vh;                                                      /* Set height to viewport height */
    max-width: calc(100vh * (var(--border-width) / var(--border-height)));  /* Constrain width to aspect ratio */
    background-image: url('assets/border.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;                                               /* Ensure full border is visible */
    image-rendering: pixelated;                                             /* Nearest neighbor sampling */
}

div.overlay {
    position: absolute;             /* Position relative to border-wrapper */
    top: 0;
    left: 0;
    width: 100%;                    /* Fill the same space as border-wrapper */
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: pixelated;
}
div.overlay.status-light {
    background-image: url('assets/status-light.png');
}
div.overlay.on-off-button {
    background-image: url('assets/on-off-button.png');
}

div.content {
    position: absolute;                                                 /* Position content inside the border */
    top: calc((var(--padding-top) / var(--border-height)) * 100%);      /* Top padding as percentage of border height */
    left: calc((var(--padding-left) / var(--border-width)) * 100%);     /* Left padding as percentage of border width */
    right: calc((var(--padding-right) / var(--border-width)) * 100%);   /* Right padding as percentage of border width */
    bottom: calc((var(--padding-bottom) / var(--border-height)) * 100%);/* Bottom padding as percentage of border height */

    font-size: clamp(14px, 2vw, 24px);  /* Font size will scale between 14px and 24px, based on content width */
    color: white;

    overflow: auto;
    scrollbar-width: none; /* Hide scrollbars */
} ::-webkit-scrollbar {
    display: none; /* Hide scrollbars */
}


pre.terminal, textarea.user-input {
    background: transparent;
    color: white;
    border: none;
    outline: none;

    font-size: 0.75em;
    font-family: Consolas, monospace;
    line-height: 1;
    vertical-align: baseline;

    margin: 0;
    padding: 0;
    box-sizing: content-box;
} *::selection {
    background: white;
    color: black;
}
pre.terminal {
    margin-left: 2px;
}
textarea.user-input {
    resize: none;
    field-sizing: content;  /* Scale textarea to size of content inside */
    height: calc(1.1em);
    font-size: 1em;

    vertical-align: top;
    text-wrap: nowrap;
    overflow-y: hidden;

    caret-color: white;
    caret-shape: block;
    pointer-events: none;
}


span.caret {
    display: inline-block;
    width: 1ch;
    height: 1em;
    background-color: white;
    vertical-align: top;
    animation: blink 1s steps(1) infinite;
} @keyframes blink {
    50% {
        opacity: 0;
    }
}